<nav
  class="text-white top-0 absolute z-50 w-full flex justify-between px-2 py-3 bg-slate-900 shadow-md"
>
  <a
    class="cursor-pointer"
    [routerLink]="['/about']"
    routerLinkActive="text-blue-500"
    >About</a
  >
  <a
    class="cursor-pointer"
    [routerLink]="['/pokemons/page/1' ]"
    routerLinkActive="text-blue-500"
    >Pokemons</a
  >
  <a
    class="cursor-pointer"
    [routerLink]="['/pricing']"
    routerLinkActive="text-blue-500"
    >Pricing</a
  >
  <a
    class="cursor-pointer"
    [routerLink]="['/contact']"
    routerLinkActive="text-blue-500"
    >Contact</a
  >
  <a>

  </a>
</nav>
